In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\sun04\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sun04\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sun04\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [2]:
# Program to use basic SQL features
import sqlalchemy

# Reading dataset
import pandas
churn_data=pandas.read_csv("Customer_Churn.csv")

# Determining dimension and size of the dataset
print("Dimension of dataset:",churn_data.shape)

# Determining details of the columns of the dataset
print(churn_data.info())

# Establishing connection with SQLite
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

# Converting data frame in an SQL format
churn_data.to_sql('churn_sql', con=engine)

Dimension of dataset: (12335, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12335 entries, 0 to 12334
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gender                   12335 non-null  object
 1   SeniorCitizen            12335 non-null  float64
 2   Partner                  12335 non-null  object
 3   Dependents               12335 non-null  object
 4   tenure                   12335 non-null  float64
 5   CallService              12335 non-null  object
 6   MultipleConnections      12335 non-null  object
 7   InternetConnection       12335 non-null  object
 8   OnlineSecurity           12335 non-null  object
 9   OnlineBackup             12335 non-null  object
 10  DeviceProtectionService  12335 non-null  object
 11  TechnicalHelp            12335 non-null  object
 12  OnlineTV                 12335 non-null  object
 13  OnlineMovies             12335 non-null  object
 14  Agreement                12335 non-null  object
 15  BillingMethod            12335 non-null  object
 16  PaymentMethod            12335 non-null  object
 17  MonthlyServiceCharges    12335 non-null  float64
 18  TotalAmount              12335 non-null  float64
 19  Churn                    12335 non-null  object
dtypes: float64(4), object(16)
memory usage: 1.9+ MB
None

12335

In [3]:
# check the data
churn_data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,CallService,MultipleConnections,InternetConnection,OnlineSecurity,OnlineBackup,DeviceProtectionService,TechnicalHelp,OnlineTV,OnlineMovies,Agreement,BillingMethod,PaymentMethod,MonthlyServiceCharges,TotalAmount,Churn
0,Female,0.0,Yes,Yes,11.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,20.60,233.90,No
1,Female,0.0,No,No,67.0,No,No phone service,DSL,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),53.40,3579.15,No
2,Female,0.0,Yes,No,59.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),18.40,1057.85,No
3,Male,0.0,Yes,Yes,67.0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,26.30,1688.90,No
4,Female,0.0,No,No,11.0,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,No,Electronic check,75.25,888.65,No

In [4]:
from sqlalchemy import text

with engine.connect() as conn:
  show = conn.execute(text(" SELECT * FROM churn_sql LIMIT 5 ")).fetchall()
  print("Displaying 5 records:")
  for i in show:
    print(i)

Displaying 5 records:
(0, 'Female', 0.0, 'Yes', 'Yes', 11.0, 'Yes', 'No', 'No', 'No internet service', 'No internet service', 'No internet service', 'No internet service', 'No internet service', 'No internet service', 'One year', 'No', 'Mailed check', 20.6, 233.9, 'No')
(1, 'Female', 0.0, 'No', 'No', 67.0, 'No', 'No phone service', 'DSL', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Month-to-month', 'Yes', 'Credit card (automatic)', 53.4, 3579.15, 'No')
(2, 'Female', 0.0, 'Yes', 'No', 59.0, 'Yes', 'No', 'No', 'No internet service', 'No internet service', 'No internet service', 'No internet service', 'No internet service', 'No internet service', 'Two year', 'No', 'Bank transfer (automatic)', 18.4, 1057.85, 'No')
(3, 'Male', 0.0, 'Yes', 'Yes', 67.0, 'Yes', 'Yes', 'No', 'No internet service', 'No internet service', 'No internet service', 'No internet service', 'No internet service', 'No internet service', 'Two year', 'No', 'Mailed check', 26.3, 1688.9, 'No')
(4, 'Female', 0.0, 'No', 'No', 11.0, 'Yes', 'Yes', 'Fiber optic', 'No', 'No', 'No', 'No', 'No', 'No', 'Month-to-month', 'No', 'Electronic check', 75.25, 888.65, 'No')

## Q1
Consider senior citizen, male and churned customers whose tenure is greater than 60.

What is the average Monthly Charges for customers having “DSL”
Internet connection?

In [5]:
# Save the SQL query command into query1

query1 = """
SELECT AVG(MonthlyServiceCharges)
FROM churn_sql
WHERE SeniorCitizen = 1
  AND gender = 'Male'
  AND Churn = 'Yes'
  AND tenure > 60
  AND InternetConnection = 'DSL'
"""

with engine.connect() as conn:
  ans1 = conn.execute(text(query1)).fetchall()
  print("Displaying the average Monthly Charges for customers having “DSL” Internet connection:")
  for i in ans1:
    print(i)

Displaying the average Monthly Charges for customers having “DSL” Internet connection:
(76.05276750166666,)

## Q2
Consider the customers who have dependents and partner and have opted for call service.

What is the average amount for customers having “Mailed Check” as payment method and “One year” as agreement?

p.s. Since the question did not describe clear which amount to calculate, I printed 2 different results of amount.

In [6]:
# Save the SQL query command into query2: take TotalAmount as the amount in the statement of question

query2 = """
SELECT AVG(TotalAmount) AS avg_total_amount
FROM churn_sql
WHERE Dependents == 'Yes'
  AND Partner == 'Yes'
  AND CallService == 'Yes'
  AND PaymentMethod == 'Mailed check'
  AND Agreement == 'One year'
"""

with engine.connect() as conn:
  ans2 = conn.execute(text(query2)).fetchall()
  print("Displaying the average total amount for customers having “Mailed Check” as payment method and “One year” as agreement:")
  for i in ans2:
    print(i)

Displaying the average total amount for customers having “Mailed Check” as payment method and “One year” as agreement:
(1208.3856143694086,)

In [7]:
# Save the SQL query command into query2: take MonthlyServiceCharges as the amount in the statement of question

query2 = """
SELECT AVG(MonthlyServiceCharges) AS avg_monthly_charges
FROM churn_sql
WHERE Dependents = 'Yes'
  AND Partner = 'Yes'
  AND CallService = 'Yes'
  AND PaymentMethod = 'Mailed check'
  AND Agreement = 'One year'
"""

with engine.connect() as conn:
  ans2 = conn.execute(text(query2)).fetchall()
  print("Displaying the average monthly service charges for customers having “Mailed Check” as payment method and “One year” as agreement:")
  for i in ans2:
    print(i)

Displaying the average monthly service charges for customers having “Mailed Check” as payment method and “One year” as agreement:
(44.162331644354836,)

## Q3
Consider the male and senior citizen customers whose tenure is less than 20 and have multiple connections.

What is the total Monthly Service Charges of customers for each billing methods (Yes/No)?

In [8]:
# Save the SQL query command into query3

query3 = """
SELECT BillingMethod, SUM(MonthlyServiceCharges)
FROM churn_sql
WHERE gender = 'Male'
  AND SeniorCitizen = 1
  AND tenure < 20
  AND MultipleConnections = 'Yes'
GROUP BY BillingMethod
"""

with engine.connect() as conn:
  ans3 = conn.execute(text(query3)).fetchall()
  print("Displaying the total Monthly Service Charges of customers for each billing methods (Yes/No):")
  for i in ans3:
    print(i)

Displaying the total Monthly Service Charges of customers for each billing methods (Yes/No):
('No', 1230.71945864)
('Yes', 7906.29044558)

## Q4
Consider the customers who have monthly service charges greater than 100.

How many male and female customers has dependents and no dependents?

In [9]:
# Save the SQL query command into query4

query4 = """
SELECT gender, Dependents, COUNT(*)
FROM churn_sql
WHERE MonthlyServiceCharges > 100
GROUP BY gender, Dependents
"""

with engine.connect() as conn:
  ans4 = conn.execute(text(query4)).fetchall()
  print("Displaying the count of male and female customers has dependents and no dependents:")
  for i in ans4:
    print(i)

Displaying the count of male and female customers has dependents and no dependents:
('Female', 'No', 438)
('Female', 'Yes', 183)
('Male', 'No', 389)
('Male', 'Yes', 182)

## Q5
Consider only female customers who have no dependents and has done call service and has preferred electronic check method.

How many customers have churned and not churned?

In [10]:
# Save the SQL query command into query5

query5 = """
SELECT Churn, COUNT(*)
FROM churn_sql
WHERE gender = 'Female'
  AND Dependents = 'No'
  AND CallService = 'Yes'
  AND PaymentMethod = 'Electronic check'
GROUP BY Churn
"""

with engine.connect() as conn:
  ans5 = conn.execute(text(query5)).fetchall()
  print("Displaying the count of customers have churned and not churned:")
  for i in ans5:
    print(i)

Displaying the count of customers have churned and not churned:
('No', 566)
('Yes', 718)

## Q6
Consider the customers who have call service and has preferred either electronic check method or mailed check method.

How many male and female customers have no dependents and have multiple connections?

In [11]:
# Save the SQL query command into query6

query6 = """
SELECT gender, COUNT(*)
FROM churn_sql
WHERE CallService == 'Yes'
  AND PaymentMethod IN ('Electronic check', 'Mailed check')
  AND Dependents == 'No'
  AND MultipleConnections == 'Yes'
GROUP BY gender
"""

with engine.connect() as conn:
  ans6 = conn.execute(text(query6)).fetchall()
  print("Displaying the count of male and female customers have no dependents and have multiple connections:")
  for i in ans6:
    print(i)

Displaying the count of male and female customers have no dependents and have multiple connections:
('Female', 858)
('Male', 858)

## Q7
Consider the customers who have call service and has preferred either electronic check method or mailed check method.

What is the average tenure of male and female customers who have no dependents and have partners?

In [12]:
# Save the SQL query command into query7

query7 = """
SELECT gender, AVG(tenure)
FROM churn_sql
WHERE CallService = 'Yes'
  AND PaymentMethod IN ('Electronic check', 'Mailed check')
  AND Dependents = 'No'
  AND Partner = 'Yes'
GROUP BY gender
"""

with engine.connect() as conn:
  ans7 = conn.execute(text(query7)).fetchall()
  print("Displaying the average tenure of male and female customers who have no dependents and have partners:")
  for i in ans7:
    print(i)

Displaying the average tenure of male and female customers who have no dependents and have partners:
('Female', 28.317125575533154)
('Male', 28.692303729244728)

## Q8
Consider only those customers who have agreement for one year or two-year only.

What are the maximum monthly service charges of customers who have done payment by electronic check method?

In [13]:
# Save the SQL query command into query8

query8 = """
SELECT MAX(MonthlyServiceCharges)
FROM churn_sql
WHERE Agreement IN ('One year', 'Two year')
  AND PaymentMethod = 'Electronic check'
"""

with engine.connect() as conn:
  ans8 = conn.execute(text(query8)).fetchall()
  print("Displaying the maximum monthly service charges of customers who have done payment by electronic check method:")
  for i in ans8:
    print(i)

Displaying the maximum monthly service charges of customers who have done payment by electronic check method:
(118.65,)

## Q9
Consider only those customers who have no internet connection, no online security no online backup and no device protection service.

What is the minimum total amount of male and female customers having one year or two-year agreement type?

In [14]:
# Save the SQL query command into query9

query9 = """
SELECT gender, MIN(TotalAmount)
FROM churn_sql
WHERE InternetConnection = 'No'
  AND OnlineSecurity = 'No'
  AND OnlineBackup = 'No'
  AND DeviceProtectionService = 'No'
  AND Agreement IN ('One year', 'Two year')
GROUP BY gender
"""

with engine.connect() as conn:
  ans9 = conn.execute(text(query9)).fetchall()
  print("Displaying the minimum total amount of male and female customers having one year or two-year agreement type:")
  for i in ans9:
    print(i)

Displaying the minimum total amount of male and female customers having one year or two-year agreement type:
('Female', 69.21978888)
('Male', 59.02463086)

## Q10
What is the average total amount of male and female customers having partner and no partner?

In [15]:
# Save the SQL query command into query10

query10 = """
SELECT gender, Partner, AVG(TotalAmount)
FROM churn_sql
GROUP BY gender, Partner
"""

with engine.connect() as conn:
  ans10 = conn.execute(text(query10)).fetchall()
  print("Displaying the average total amount of male and female customers having partner and no partner:")
  for i in ans10:
    print(i)

Displaying the average total amount of male and female customers having partner and no partner:
('Female', 'No', 1518.4620026496038)
('Female', 'Yes', 2521.0487082184795)
('Male', 'No', 1496.7034509200557)
('Male', 'Yes', 2572.5751566592467)